* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: block;
  margin-block-end: 0px;
}

/* Header styling */
.header {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logo {
  float: left;
  padding-left: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-nav-links a {
  display: inline-block;
  color: #f2f2f2;
  text-align: match-parent;
  padding: 20px 20px;
  text-decoration: none;
}

.header-nav-links a:hover {
  background-color: #ddd;
  justify-content: center;
  color: black;
}

.social-block {
  padding-right: 15px;
}

.socials {
  padding: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.main-content {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.main-content-bg {
  background-image: url("background.png");
  background-color: #cccccc;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  z-index: 1;
}

.main-content-text {
  font-size: 45px;
}

.button-blue {
  background-image: linear-gradient(180deg, #1d79d4 0%, #3059d2 100%);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 30%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
}

.button-blue:hover {
  background-image: linear-gradient(-180deg, #1d95c9 0%, #17759c 100%);
}

@media (min-width: 768px) {
  .button-blue {
    padding: 1rem 2rem;
  }
}

/* Other sections */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.layout-padding {
  padding-top: 75px;
  padding-bottom: 1px;
}

.split-display {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}

.about-me-display {
  padding-left: 20%;
  padding-right: 20%;
  min-height: 70vh;
  width: 100%;
}

.about-me-image {
  float: right;
  width: 600px;
  max-width: 40%;
  margin-left: 15px;
  margin-top: 75px;
}

.about-me-description {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.about-me-images {
  padding-top: 10px;
  padding-left: 15%;
}

.about-me-button-format {
  width: 250px;
  max-width: 30%;
  margin: auto;
  text-align: center;
}

.about-me-button {
  width: 100%;
  float: right;
  font-size: 18px;
  text-align: center;
  background-color: #fcfcfd;
  color: #191919;
  border-left: 10px solid #599ee9;
  border-radius: 30px;
  border-right: 10px solid #599ee9;
  border-top: 4px solid #599ee9;
  border-bottom: 4px solid #599ee9;
  padding: 5px;
  margin-top: 40px;
}

.about-me-button a {
  color: #191919;
  text-decoration: none;
}

.about-me-row-images::after {
  content: "";
  clear: both;
  display: table;
}

.about-me-image-column {
  float: left;
  width: 50%;
  padding: 5px;
}

.subsection-title {
  width: 100%;
  font-size: 25px;
  color: #24292f;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.subsection-paragraph {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #363636;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.project-section {
  float: left;
  width: 100%;
}

.more-project-button-format {
  width: 250px;
  max-width: 30%;
  margin: auto;
  text-align: center;
}

.more-project-button {
  width: 100%;
  float: right;
  font-size: 18px;
  text-align: center;
  background-color: #fcfcfd;
  color: #191919;
  border-left: 10px solid #599ee9;
  border-radius: 30px;
  border-right: 10px solid #599ee9;
  border-top: 4px solid #599ee9;
  border-bottom: 4px solid #599ee9;
  padding: 5px 0px;
  margin-top: 40px;
}

.more-project-button a {
  color: #191919;
  text-decoration: none;
}

.more-project-button a:hover {
  color: #599ee9;
}

.other-socials-block {
  padding: 10px;
}

.other-socials {
  padding: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

.center-elements {
  padding-top: 20px;
  align-items: center;
  text-align: center;
}

.center-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.pdf-viewer {
  width: 50%;
  height: 75%;
}

.resume-display {
  width: 100%;
  height: 1000px;
  max-height: 100%;
  padding: 100px;
  padding-bottom: 25px;
}

.resume-download {
  padding-left: 100px;
}

/* Footer */
.footer {
  /*background-image: linear-gradient(#ffffff 0%, #f3f3f3 100%);*/
  padding: 30px;
  padding-top: 0px;
  text-align: center;
}
